.common_bot_btn {
	position: absolute;
	width: 750upx;
	height: 100upx;
	line-height: 100upx;
	color: #FFFFFF;
	background: #FFB700;
	text-align: center;
	bottom: 0;
}

.common_area {
	background: #FFFFFF;
	width: 700upx;
	display: block;
	margin: 25upx;
	border-radius: 10upx;
}

.common_title {
	font-size: 28upx;
	font-weight: bold;
	border-bottom: 1px solid #DDDDDD;
	line-height: 72upx;
	padding-left: 30upx;
}

.common_btn_bot_fb {
	background: #FFB700;
	color: #FFFFFF;
	width: 700upx;
	line-height: 90upx;
	margin: auto;
	border-radius: 10upx;
	text-align: center;
}
.common_btn_fb{
	background: #FFB700;
	color: #FFFFFF;
	width: 700upx;
	margin: 30upx 25upx;
	font-size: 25upx;
}